[Unit]
Description=Kanata keyboard remapper
Documentation=https://github.com/jtroo/kanata
After=local-fs.target

[Service]
Type=simple
ExecStart=/usr/local/bin/kanata --no-wait --cfg /home/muggle/.config/kanata/config.kbd
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
